
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Mitr:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');


    :root {
    --blue-bubble: #bbe6f3;
    --small-b-bubble: #bae5f2;
    --pink-bubble: #ebc7e5;
    --font-color: #063064;
    }
html body {
    /* margin: 0px; */
    /* background-color: #ebf2fd; */
    background-color: #f4f4f4;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}













.ux-container{
  background-color: #00000000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin-left: auto; 
  margin-right: auto; 
  z-index: 10;
}

.container {
    background-color: #f3fcfd;
    /* width: 800px;
    height: 600px; */

    /* width: 100vh; */
    height: 80vh;
    margin: 60px auto;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    -webkit-box-shadow: 1px 2px 29px 2px rgba(220, 244, 250, 1);
    -moz-box-shadow: 1px 2px 29px 2px rgba(220, 244, 250, 1);
    box-shadow: 1px 2px 29px 2px rgba(220, 244, 250, 1);
  }


  
@media only screen and (max-width: 768px) {
  .container {
    transform: scale(1);
    width: 100vh;
    height: 85vh;
    background-color: chartreuse;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100vh;
    margin: 0vh;
    background-color: rgb(25, 0, 255);
  }
}


.main-graph-container{
  z-index: 12; 
  position: absolute; 
  left: 50%;
  top: 45%;
  width: 40%;
  transform: translate(-50%,-50%);
  /* opacity: 50% */
  /* display: none; */
}


.MainGum{
  position: absolute;
  width: 81%;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MainStudent{
  position: absolute;
  width: 80%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .bubble {
    position: absolute;
    border-radius: 50%;
  }
  
  .pink-bubble {
    width: 460px;
    height: 460px;
    right: -160px;
    top: -110px;
    background-color: var(--pink-bubble);
  }
  
  .blue-bubble {
    width: 520px;
    height: 520px;
    left: -30px;
    top: 345px;
    background-color: var(--blue-bubble);
  }
  
  .small-b-bubble {
    width: 50px;
    height: 50px;
    right: 40px;
    bottom: 85px;
    background-color: var(--small-b-bubble);
  }
  
  .small-p-bubble {
    width: 105px;
    height: 105px;
    left: -45px;
    top: 140px;
    background-color: var(--pink-bubble);
  }




.myChartFrame{
    display: block;
}


canvas {
    padding: 0;
    margin: auto;
    display: block;
}























/* checked Box */
label.btn span {
  font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}

label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
  display: inline-block;
  /* left: 50px; */
  /* padding: 6px 12px; */
  padding: 2vh;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0px solid #c8c8c8;
  border-radius: 3px;
  color: #c8c8c8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}






.main-form-container{
  position: absolute;
  left: 53%;
  top: -10%;
  transform: translate(-50%,-50%);
  margin-left: auto; 
  margin-right: auto; 
  z-index: 10;
}
h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
/* //Frame Input */
input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:200px;
  border:none;
  border-bottom:1px solid #757575;
  border-radius: 60px;
}
input:focus 		{ outline:none; }
/* Input Label Text */
#PriceInput{
  font-family: 'Kanit', sans-serif; 
  font-size: 1.15vw;
  color: #2d408a;
  padding-left: 8%; 
}
/* LABEL ======================================= */
.Form-Label 				 {
  color:#999; 
  font-size:20px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:-10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  
}

/* active state */
input:focus ~ .Form-Label, input:valid ~ .Form-Label 		{
  top:-45px;
  left: -10px;
  font-size:16px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:200px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:45%;
}
.bar:after {
  right:45%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
  
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:80%; 
  top:20%; 
  left:5%;
  pointer-events:none;
  opacity:0.5;
  border-radius: 60px;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.7s ease;
  -moz-animation:inputHighlighter 0.7s ease;
  animation:inputHighlighter 0.7s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}